@use "src/index" as main;
$size: 40px;

.pagination {
  @include main.flex;
  flex-direction: row;
  gap: 5px;
  padding: 15px 0 5px;
}

.pageItem {
  @include main.flex;
  width: $size;
  height: $size;
  border-radius: 5px;
  background-color: #fff;
  color: #444;
  font-size: 22px;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  &.active {
    background-color: green;
    color: #fff;
  }
}

@media (max-width: 450px) {
  .pagination {
    flex-wrap: wrap;
  }
}
