@use "src/index" as main;

.header {
  width: 100%;
  background: #aaa;
  height: 60px;
}

.search {
  max-width: 1280px;
  height: 100%;
  @include main.flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 10px;
  input {
    min-width: 300px;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    outline: none;
    box-sizing: border-box;
    &:focus {
      outline: 2px solid green;
    }
  }
}

@media (max-width: 500px) {
  .search input {
    min-width: calc(100% - 200px);
  }
}
