.header {
  width: 100%;
  background: #aaa;
  height: 60px;
}

.search {
  max-width: 1280px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
  input {
    min-width: 300px;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    outline: none;
    box-sizing: border-box;
    &:focus {
      outline: 2px solid green;
    }
  }
}

@media (max-width: 440px) {
  .search input {
    min-width: calc(100% - 110px);
  }
}
